/* 
rbpj-settings-unformatted.css
version: 0.6.1 
*/

@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono');
@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono');

body {
    font-family: 'IBM Plex Mono';
}

#footer,
#rbpj-mainnav {
    background-color: #080230;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ea831c;
    font-family: 'IBM Plex Mono';
}

a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #ea831c;
}