/* 
rbpj-settings-unformatted.css
version: 0.6.1 
*/

@import url('https://fonts.googleapis.com/css?family=Noto Sans');
@import url('https://fonts.googleapis.com/css?family=Noto Sans Mono');

body {
    font-family: 'Noto Sans Mono';
}

#footer,
#rbpj-mainnav {
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: orange;
    font-family: 'Noto Sans';
}

a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: orange;
}